<nav class="navbar">
  <div class="logo">Tank<span>Rent</span></div>

  <div class="nav-links">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Accueil</a>
    <a routerLink="/tanks" routerLinkActive="active">Catalogue</a>

    <ng-container *ngIf="!(authService.isLoggedIn$ | async)">
      <a routerLink="/login"    routerLinkActive="active">Connexion</a>
      <a routerLink="/register" routerLinkActive="active">S'enrôler</a>
    </ng-container>

    <ng-container *ngIf="authService.isLoggedIn$ | async">
      <a routerLink="/admin/fichiers" routerLinkActive="active" class="admin-link">Fichiers</a>

      <ng-container *ngIf="authService.isAdmin$ | async">
        <a routerLink="/admin/import-ia"  routerLinkActive="active" class="admin-link">Admin IA</a>
        <a routerLink="/admin/dashboard"  routerLinkActive="active" class="admin-link">Dashboard</a>
      </ng-container>

      <span class="user-name">
        Pilote&nbsp;: <strong>{{ authService.userName$ | async }}</strong>
      </span>

      <button (click)="onLogout()" class="logout-btn">Déconnexion</button>
    </ng-container>
  </div>
</nav>
