<nav class="navbar">
  <div class="logo">
    <a routerLink="/accueil" class="nav-link">
      <span class="logo1">Tank</span>
      <span class="logo2">Rent</span>
    </a>
  </div>

  <div class="nav-links">
    <a routerLink="/accueil" routerLinkActive="active">Accueil</a>
    <a routerLink="/catalogue" routerLinkActive="active">Catalogue</a>
    <a routerLink="/connexion" routerLinkActive="active">Connexion</a>
    <a routerLink="/inscription" routerLinkActive="active">S'inscrire</a>
  </div>
</nav>