<div class="catalog-container">
  <h2>Notre Arsenal disponible</h2>

  <div class="filter-bar">
    <input 
      type="text" 
      [(ngModel)]="searchQuery" 
      (input)="applyFilterAndSort()"
      placeholder="Rechercher un char (ex: Tiger, Sherman...)" 
    />
    
    <select [(ngModel)]="sortBy" (change)="applyFilterAndSort()">
      <option value="none">Trier par...</option>
      <option value="priceAsc">Prix : Croissant</option>
      <option value="priceDesc">Prix : Décroissant</option>
    </select>
  </div>

  <div class="tank-grid" *ngIf="filteredTanks.length > 0; else emptyCatalog">
    
    <div class="tank-card" *ngFor="let tank of filteredTanks">
      <div class="tank-header">
        {{ tank.name }}
      </div>
      <div class="tank-body">
        <p><strong>Catégorie :</strong> {{ tank.type }}</p>
        <button class="rent-button">
          Louer le monstre
        </button>
      </div>
    </div>

  </div>

  <ng-template #emptyCatalog>
    <p class="empty-message">Aucun char ne correspond à votre recherche. 📭</p>
  </ng-template>
</div>