.home-container {
  font-family: sans-serif;
  color: #333;
  margin-top: -20px; /* Colle la bannière à la navbar */
}

.hero-section {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url('https://images.unsplash.com/photo-1630161861115-02123f0837e5?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center center/cover;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
}

.hero-content {
  max-width: 800px;
  color: var(--text-light);
}

.hero-content h1 {
  font-size: 45px;
  margin-bottom: 20px;
  font-weight: 800;
}

.hero-content .highlight {
  color: var(--malachite);
}

.hero-content p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 30px;
  color: var(--text-light);
}

.cta-button {
  background-color: var(--malachite);
  color: var(--text-light);
  border: none;
  padding: 15px 40px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
  box-shadow: 0 4px 15px var(--shadow-soft);
}

.cta-button:hover {
  background-color: var(--sea-green);
  transform: translateY(-2px);
}

.features-section {
  display: flex;
  justify-content: space-around;
  gap: 30px;
  max-width: 1200px;
  margin: 60px auto;
  padding: 0 20px;
  flex-wrap: wrap;
}

.feature-card {
  flex: 1;
  min-width: 280px;
  background: #fdfdfd;
  border: 1px solid #eaeaea;
  padding: 30px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.02);
  transition: transform 0.3s;
}

.feature-card:hover {
  transform: translateY(-5px);
}

.feature-card .icon {
  font-size: 40px;
  margin-bottom: 15px;
}

.feature-card h3 {
  font-size: 20px;
  color: #2c3e50;
  margin-bottom: 10px;
}

.feature-card p {
  color: #7f8c8d;
  line-height: 1.5;
  font-size: 15px;
}